@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Inter", sans-serif;
  
  --color-blueprint-bg: #05070a;
  --color-blueprint-panel: #0f172a;
  --color-blueprint-accent: #0ea5e9;
  --color-blueprint-text: #f8fafc;
  --color-blueprint-text-muted: #64748b;
  --color-blueprint-code: #05070a;
  --color-blueprint-border: #1e293b;
}

@layer base {
  body {
    @apply bg-blueprint-bg text-blueprint-text antialiased;
  }
}
